extends base.pug


block title 
    title Inventario de Categorias

block container 
    .container.mt5(style={width: "600px"})
        table.table.table.striped
            tr 
                th ID 
                th Nombre 
                th Descripcion 

            each n in cargarDatos
                tr
                    td n.id     
                    td n.nombre 
                    td n.descripcion

